body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, nav, main, footer {
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
form {
    margin: 20px auto;
    max-width: 100%; /* Ensures the form is responsive */
    width: 100%; /* Set a default width */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
/* Adjustments for smaller screens */
@media (max-width: 480px) {
    form {
        width: 90%; /* Adjusted width for smaller screens */
    }
}

label {
    display: block;
    margin-bottom: 5px;
}
input, textarea, select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}

.custom-image {
    width: 100%;
    height: 12rem; /* Equivalent to h-48 */
    object-fit: cover;
    aspect-ratio: 1; /* For a square aspect ratio (200 / 200) */
}

.container-contact-us {
    width: 100%; /* Ensures the container spans the full width of the page */
    max-width: 100%; /* Ensures the container is responsive */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Adjust padding as needed */
    padding-right: 1rem; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.audio-player {
    width: 400px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.progress {
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}
#current-time, #total-time {
    margin-top: 10px;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.floating-button:hover {
    background-color: #388e3c;
}