.player__controls {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 5px; 
}
.b-button {
    margin-right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.b-slider {
    margin: auto;
    width: 100px;
    padding: 0%;
}